#map{
  width: 100vw;
  height: 100vh;
  background-color: rgba(106, 143, 125, 0.658);
}

button{
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.list-group{
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
